* {
    margin: 0; /*Retirar margens dos cantos*/
    padding: 0; /*Retirar laterias de sobra*/
    list-style: none; /*Retirar ponteiros dos ícones*/
    text-decoration: none; /*Retirar sublinhado dos links*/
    position: relative;
}

/* Fomratação do texto span */
span {
    color: rgb(249, 115, 22); /*Cor*/
}

body {
    background-color: rgb(26, 32, 44);
    
    
}

.img-wrapper {
    width: 100%; /*Largura*/
    height: 100%; /*Altura*/
    background: url(/Imagens/Bodybuilder.jpg);
	background-size: 100%;
    position: absolute;
	z-index: -9999;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(7px);
}

.img- {
    width: 100%; /*Largura*/
    height: 100%; /*Altura*/
	background-color: rgb(0, 0, 0);;
    position: absolute;
	opacity: 0.9;
    z-index: -9999;
}

.perfil {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15 , 3rem);
}

.perfil-image {
    grid-column: 9 / 12;
    grid-row: 3;
}


.perfil-image img {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 8.5rem;
    left: 30%;
}

.perfil h1 {
    grid-column: 10 / 13;
    grid-row: 6;
    color: aliceblue;
    top: 50%;
    left: 15%;
    font-size: 20px;
}

.perfil h2 {
    grid-column: 10 / 12;
    grid-row: 7;
    position: relative;
    left: 45%;
    color: aliceblue;
    font-size: 15px;
}

.perfil p {
    color: aliceblue;
    text-align: center;
}

.g1 {
    grid-column: 9;
    grid-row: 7;
    top: 80%;
    left: 15%;
}

.g2 {
    grid-column: 10 / 11;
    grid-row: 7;
    top: 80%;
    left: 63%;
}

.g3 {
    grid-column: 11;
    grid-row: 7;
    top: 80%;
    left: 95%;
}


/* ícone da barra de navegação */
.hamburguer {
    /* background-color: red; Cor de fundo */
    width: 2rem; /*Largura*/
    position: fixed; /*Posição na página - fixa (sempre no mesmo lugar)*/
    z-index: 100; /*Exibição em relação as páginas (entenda como camadas, com o 100, este será exibido na primeira camada)*/
    left: 2rem; /*Posição em relação ao lado direito*/
    top: 2rem; /*Posição em relação ao lado superior*/
    display: block; /*Desaparição do ícone enquanto tela*/
    flex-direction: column; /*Colocar as linhas uma abaixo da outra*/
    justify-content: space-around; /*Espalhar as linhas do hamburguer*/
    cursor: pointer; /*Implementação de elemento interativo - troca do cursor*/
    transition: 0.6s;
}

.hamburguer.sticky {
    position: fixed;
   
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 10px;
   
    transition: 0.6s;
    
}


/* Linhas do ícone hamburguer */
.line {
    width: 100%; /*Largura*/
    height: 0.2rem;
    background-color: rgb(197, 94, 20);
    box-shadow: 0.1rem 0.1rem 1px #000; /*Sombra*/
    transition: all 1s; /*Delay de apresentação*/
    margin: 3px;
}

/*Fomatação das lnhas do hamburguer ao exibir o sidebar*/
.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .4rem); /*Girar linha e reposicionar*/
}

.show-menu #line2 {
    opacity: 0; /*Retirar visibilidade*/
    visibility: hidden; /*Esconder*/
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.4rem); /*Girar linha e reposicionar*/
}


@media only screen and (max-width: 999px) {
    .perfil-image {
        grid-column: 7 / 9;
    }

    .perfil-image img {
        width: 11rem;
        height: 11rem;
    }

    .perfil h1 {
        grid-column: 9 / 15;
        grid-row: 7;
        font-size: 23px;
        top: -20%;
        left: 10%;
    }

    .perfil h2 {
        grid-column: 10 / 12;
        grid-row: 7;
        top: 43%;
        left: 15%;
    }

    .g1 {
        top: 100%;
        left: -28%;
    }

    .g2 {
        top: 100%;
        left: 30%;
    }

    .g3 {
        top: 100%;
        left: 100%;
    }

    
}

